<%- include ("../partials/header") %>



<div class="container mainSegment p-3 p-sm-5">
	<form id="searchMain" action="/notes/browse" method="GET">
        <div class="row d-flex justify-contents-start mx-0 mb-2 p-0" >
            <div class="col-12 col-sm-9 p-2" >
                <input type="text" id="mainSearchBar" placeholder="Search for a topic" name="searchTerm" class="m-0 mainSearch">
            </div>
            <div class="col-12 col-sm-3 p-2" >
                <input type="submit" value="search" class="mainSearchButton">
            </div>
        </div>

        <div class="row p-2 mx-1 filters">
            <div class="col-lg-5 col-12 p-4">
                        <label for="subject" class="mr-4" >Subject</label>
                        <select class="subjectSelect p-3 m-0" name="subject" id="subject">
                            <option value="All">All</option>
                            <option value="Math">Math</option>
                            <option value="Physics">Physics</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Economics">Economics</option>
                            <option value="Accounts">Accounts</option>
                            <option value="CompSci">Computer Science</option>
                            <option value="Biology">Biology</option>
                           <option value="FurtherMaths">Further Maths</option>
                            <option value="Islamiat">Islamiat</option> 
                            <option value="PakHistory">Pak History</option> 
                            <option value="PakGeography">Pak Geography</option> 
                        </select>
            </div>
            <div class="col-lg-5 col-12 p-4 mt-2 align-content-center">
                <span class="label mr-4" >Grade:</span>
                <input type="radio" name="grade" id="olevels" value="olevels">
                <label for="olevels" class="mr-3" >O Levels</label>
                <input type="radio" name="grade" id="alevels" value="alevels">
                <label for="alevels">A Levels</label>
                <input type="radio" name="grade" id="a2" value="a2">
                <label for="alevels">A2</label>
            </div>
    </form>
</div>
</div>

<div style="display: flex; text-align: center; justify-content: center; padding-bottom: 20px;">
	<script type="text/javascript">
		atOptions = {
			'key' : '94b9b1aa218da5f8873474048abdaf1e',
			'format' : 'iframe',
			'height' : 60,
			'width' : 468,
			'params' : {}
		};
		document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.variouscreativeformats.com/94b9b1aa218da5f8873474048abdaf1e/invoke.js"></scr' + 'ipt>');
	</script>

</div>

<div class="container mainSegment p-3 p-sm-5">

    <% if(resultsFor == '') { %>
        <h1 style="text-align: center;" class="segmentHeading mb-4">All Notes</h1>
    <% } else { %>
        <% if (notes.length < 1) { %>
            <h1 style="text-align: center;" class="segmentHeading">Welp! No results found</h1>
            <img src="https://i.ibb.co/StphSSJ/Artboard-2.png" class="mx-auto my-5 w-50" alt="">
        <% } else { %>
            <h1 style="text-align: center;" class="segmentHeading mb-4"> <span class="emph"><%= notes.length %></span>  Results for: <span class="emph"><%= resultsFor %></span></h1>
        <% } %>
    <% } %>
	<div class="row d-flex" >
        <% for(let i = notes.length - 1; i > -1; i--){ %>
			<div class="col-6 col-md-4 col-lg-3">
                <div class="perspectiveContainer">
                    <div class="perspectiveContainerInner">
                        <div class="card mb-3 border-0 bg-transparent">
                            <% if (notes[i].videoLink != undefined && notes[i].videoLink != ""){ %>
                            <a href="/notes/<%= notes[i]._id %>">
                                <img src="<%= notes[i].image %>" style="border-color: #d91a1a !important; border-width: 4px;" class="card-img-top" alt="...">
                            </a>
                            <% } else { %>
                            <a href="/notes/<%= notes[i]._id %>">
                                <img src="<%= notes[i].image %>" href="/notes/<%= notes[i]._id %>" class="card-img-top" alt="...">
                            </a>
                            <% } %>
                            <div class="card-body px-0 py-2 ">
                                <a href="/notes/<%= notes[i]._id %>" class="card-title mb-2 truncate"><%= notes[i].title %></a>
                                <div class="mt-2 p-0">
                                    <a class="tag p-2 px-3" href="/notes/browse?subject=<%=notes[i].subject%>"><%= notes[i].subject %></a>                        
                                    <a class="tag p-2 px-3" href="/notes/browse?grade=<%=notes[i].grade%>"><%= notes[i].grade %></a>                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		<% } %>
	</div>

</div>

<%- include ("../partials/footer") %>
