<%- include ("../partials/header") %>
<div class="container">
	<div class="row">
		<h1 style="text-align: center; padding-bottom: 25px">
			Edit <%=note.title%>
		</h1>
		<div style="width: 30%; margin: 0 auto;">
			<form action="/notes/<%= note._id%>/edit" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="title" name="title" value="<%=note.title%>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="image url" name="image" value="<%= note.image %>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="grade" name="grade" value="<%=note.grade%>">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="noteLink" value="<%=note.noteLink%>">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="videoLink" value="">
				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="subject" value="<%=note.subject%>">
				</div>
				<div class="form-group">
					<input class="form-control" type="file" name="actualFile">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-md btn-block">Submit!</button>
				</div>
			</form>
			<a href="/notes">View All Notes</a>
		</div>
		
	</div>
</div>

<%- include ("../partials/footer") %>