<%- include ("../partials/header") %> 



<div class="container mainSegment p-md-4 p-lg-5 p-3">
	<div class="row px-4 mb-4">
		<a href="/notes/browse" class="emph">< Back to Browse</a>
	</div>
	<div class="row mb-3">
		<div class="col-md-5 mb-4 col-12">
			<div class="thumbnail" style="height: 100%;">
				<img class="card-img-top" style="border-radius: 23px; height: 100%;" src="<%= note.image %>">
			</div>
		</div>
		<div class="col-md-7 flex-column col-12">
			<% if(specialTitle.length > 1) { %>
				<h4 class="segmentHeading" > <span class="emph"><%= specialTitle[0] %>:</span> <%=specialTitle[1]%> </h4>
			<% } else { %>
				<h4 class="segmentHeading" > <span class="emph"><%= specialTitle[0] %></span></h4>
			<% } %>
			<p class="segmentPara"><em>This note is from <span class="emph"><%= note.grade %></span>, and is filed under <span class="emph"><%= note.subject %></em></span> </p>
			<% if (note.contributor != undefined && note.contributor != ""){ %>
				<p class="segmentPara"><em>Contributed by: <span class="emph"><%= note.contributor %></span></em></span></p>
				
			<% } %>
			
			<p class="segmentPara mt-3">Having difficulty understanding something? Don't worry, it happens to the best of us. Just kick back, clear your mind, and go through this note and know this: all you can do is try your best. Whatever happens afterwards... well, it's gonna happen regardless. Happy studying!</p>
			<a class="mt-4 downloadButton p-4 d-flex justify-content-center" href="<%= note.noteLink %>" target="_blank" rel="noopener noreferrer">Download</a>
		</div>
	</div>
	<div class="row px-3 align-content-center">
		<p class="segmentPara">Didn't find what you were looking for? Request a note <a href="/notes/contactus" class="emph">here</a>.</p>
		<p class="segmentPara">Did you find something wrong in this note? (Oops) No worries, report it to us <a href="/notes/requestnote" class="emph">here</a> and we'll have it fixed in no time. </p>
	</div>
</div>
<% if(currentUser){ %>
	<a class="btn btn-xs btn-warning" href="/notes/<%=note._id%>/edit">Edit</a>
	<form class="deleteForm" action="/notes/<%=note._id%>?_method=DELETE" method="POST">
		<input class="btn btn-xs btn-danger" value="Delete" type="submit">	
	</form>
<% } %>

<div class="container mainSegment  p-lg-5 p-4">
	<div class="row d-flex mb-4" >
		<div class="col-9">
			<h1 class="segmentHeading" > <span class="emph" >RELATED</span>  NOTES</h1>
		</div>
		
	</div>
	<div class="row d-flex">
		<% if(relatedNotes.length === 1) { %>
			<p class="segmentPara w-100" style="text-align: center;">NO RELATED NOTES :(</p>
		<% } %>
		<% for(let i = 0; i < relatedNotes.length; i++){ %>
			<% if (relatedNotes[i].id != note.id && relatedNotes.length > 1){ %>
				<div class="col-6 col-md-3">
					<div class="card mb-3 border-0 bg-transparent">
						<img src="<%= relatedNotes[i].image %>" class="card-img-top" alt="...">
						<div class="card-body px-0 py-2">
							<a href="/notes/<%= relatedNotes[i]._id %>" class="card-title truncate"><%= relatedNotes[i].title %></a>
						</div>	
					</div>
				</div>	
			<% } %>
		<% } %>
		
	</div>
</div>


			


<%- include ("../partials/footer") %>