<%- include ("../partials/header") %> 

<div style="display: flex; text-align: center; justify-content: center; padding-bottom: 20px;">
	<script type="text/javascript">
		atOptions = {
			'key' : '94b9b1aa218da5f8873474048abdaf1e',
			'format' : 'iframe',
			'height' : 60,
			'width' : 468,
			'params' : {}
		};
		document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.variouscreativeformats.com/94b9b1aa218da5f8873474048abdaf1e/invoke.js"></scr' + 'ipt>');
	</script>

</div>

<div class="container mainSegment p-md-4 p-lg-5 p-3">
	<div class="row px-4 mb-4">
		<a href="/notes/browse" class="emph">< Back to Browse</a>
	</div>
	<div class="row mb-3">
		<div class="col-md-5 mb-4 col-12">
			<div class="thumbnail" style="height: 100%;">
				<img class="card-img-top" style="border-radius: 23px; height: 100%;" src="<%= note.image %>">
			</div>
		</div>
		<div class="col-md-7 flex-column col-12">
			<% if(specialTitle.length > 1) { %>
				<h4 class="segmentHeading" > <span class="emph"><%= specialTitle[0] %>:</span> <%=specialTitle[1]%> </h4>
			<% } else { %>
				<h4 class="segmentHeading" > <span class="emph"><%= specialTitle[0] %></span></h4>
			<% } %>
			<p class="segmentPara"><em>This note is from <span class="emph"><%= note.grade %></span>, and is filed under <span class="emph"><%= note.subject %></em></span> </p>
			<% if (note.contributor != undefined && note.contributor != ""){ %>
				<p class="segmentPara"><em>Contributed by: <span class="emph"><%= note.contributor %></span></em></span></p>
				
			<% } %>
			
			<p class="segmentPara mt-3">Having difficulty understanding something? Don't worry, it happens to the best of us. Just kick back, clear your mind, and go through this note and know this: all you can do is try your best. Whatever happens afterwards... well, it's gonna happen regardless. Happy studying!</p>
			<% if (note.fileName){ %>
				<a class="mt-4 mb-0 downloadButton p-4 d-flex justify-content-center" href="https://aurparhobucket.s3.ap-south-1.amazonaws.com/notes/<%= note.fileName %>" target="_blank" rel="noopener noreferrer">Download</a>
			<% } else { %>
				<a class="mt-4 mb-0 downloadButton p-4 d-flex justify-content-center" href="<%= note.noteLink %>" target="_blank" rel="noopener noreferrer">Download</a>
			<% } %>
			
		</div>
	</div>
	<div class="row px-3 align-content-center">
		<p class="segmentPara">Didn't find what you were looking for? Request a note <a href="/notes/contactus" class="emph">here</a>.</p>
		<p class="segmentPara">Did you find something wrong in this note? (Oops) No worries, report it to us <a href="/notes/requestnote" class="emph">here</a> and we'll have it fixed in no time. </p>
	</div>
</div>
<% if(currentUser){ %>
	<a class="btn btn-xs btn-warning" href="/notes/<%=note._id%>/edit">Edit</a>
	<form class="deleteForm" action="/notes/<%=note._id%>?_method=DELETE" method="POST">
		<input class="btn btn-xs btn-danger" value="Delete" type="submit">	
	</form>
<% } %>

<div style="display: flex; text-align: center; justify-content: center; padding-bottom: 20px;">
	<script type="text/javascript">
		atOptions = {
			'key' : '94b9b1aa218da5f8873474048abdaf1e',
			'format' : 'iframe',
			'height' : 60,
			'width' : 468,
			'params' : {}
		};
		document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.variouscreativeformats.com/94b9b1aa218da5f8873474048abdaf1e/invoke.js"></scr' + 'ipt>');
	</script>

</div>

<% if (note.videoLink != undefined && note.videoLink != ""){ %>
	<div class="mainSegment container p-md-4 p-lg-5 p-3" >
		<h1 class="segmentHeading"><span class="emph">EXPLANATION</span> VIDEO</h1>
		<div class="wrapper mb-3">
			<iframe style="border-radius: 20px; margin-bottom: 20px;" src="https://www.youtube.com/embed/<%=note.videoLink%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCMNt3OYNFe-bYcCT_a1g86w" class="d-flex justify-content-center p-3 videoButton" style="margin:0 !important;">SUBSCRIBE</a>
	</div>
<% } %>

<div class="container mainSegment  p-lg-5 p-4">
	<div class="row d-flex mb-4" >
		<div class="col-9">
			<h1 class="segmentHeading" > <span class="emph" >RELATED</span>  NOTES</h1>
		</div>
		
	</div>
	<div class="row d-flex">
		<% if(relatedNotes.length === 1) { %>
			<p class="segmentPara w-100" style="text-align: center;">NO RELATED NOTES :(</p>
		<% } %>
		<% for(let i = 0; i < relatedNotes.length; i++){ %>
			<% if (relatedNotes[i].id != note.id && relatedNotes.length > 1){ %>
				<div class="col-6 col-md-3">
					<div class="card mb-3 border-0 bg-transparent">
						<% if (relatedNotes[i].videoLink != undefined && relatedNotes[i].videoLink != ""){ %>
						<a href="/notes/<%= relatedNotes[i]._id %>">
							<img src="<%= relatedNotes[i].image %>" style="border-color: #d91a1a !important; border-width: 4px;" class="card-img-top" alt="...">
						</a>
						<% } else { %>
						<a href="/notes/<%= relatedNotes[i]._id %>">
							<img src="<%= relatedNotes[i].image %>" class="card-img-top" alt="...">
						</a>
						<% } %>
						<div class="card-body px-0 py-2">
							<a href="/notes/<%= relatedNotes[i]._id %>" class="card-title truncate"><%= relatedNotes[i].title %></a>
						</div>	
					</div>
				</div>	
			<% } %>
		<% } %>
		
	</div>
</div>


			


<%- include ("../partials/footer") %>